#Header {
  background: #4D4567;
  color: white;
  padding: 16px;
  height: 64px;
  box-shadow: 0px 6px 36px -13px rgba(0,0,0,0.75);
}

#app-title {
  font-size: 36px;
}

#social-icons {
  padding: 8px;
}