/* Custom Styles */
nav {
  &.mdl-layout--small-screen-only,
  &.mdl-layout--large-screen-only {
    display: flex;
  }

  &.mdl-layout--small-screen-only {
    flex-direction: column;
  }
  &.mdl-layout--large-screen-only {
    flex-direction: row;
  }

  &#small-screen-navigation > *,
  &#large-screen-navigation > * {
    color: white;
    font-size: 12px;
    padding: 8px;
    text-transform: uppercase;
    transition: 250ms all ease-out;
  }

  &#large-screen-navigation > *:hover {
    transform: scale(1.1);
    font-weight: 600;
  }

}