body, html {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
  background: #2d2842;
}

.card {
  background: #4d4567;
  padding: 16px;
  margin: 8px;
  color: white;
  box-shadow: 1px 2px 24px -5px rgba(0, 0, 0, 1);
}

.card-title {
  background: #009688;
  padding: 8px;
  position: relative;
  top: -32px;
  font-weight: 500;
}

.card-content {
  width: 100%;
}

/* All common flexboax rules */

.flex-container {
  display: flex;
}

.flex-layout-row {
  flex-direction: row;
}

.flex-layout-column {
  flex-direction: column;
}


.flex-align-start-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-align-start-center {
  align-items: center;
  justify-content: flex-start;
}

.flex-align-start-end {
  align-items: flex-end;
  justify-content: flex-start;
}


.flex-align-center-start {
  align-items: flex-start;
  justify-content: center;
}

.flex-align-center-center {
  align-items: center;
  justify-content: center;
}

.flex-align-center-end {
  align-items: flex-end;
  justify-content: center;
}


.flex-align-end-start {
  align-items: flex-start;
  justify-content: flex-end;
}

.flex-align-end-center {
  align-items: center;
  justify-content: flex-end;
}

.flex-align-end-end {
  align-items: flex-end;
  justify-content: flex-end;
}

.flex {
  flex: 1;
}